@mixin test {
    font-size: 5rem;
}

// Media Queries

// Small Tablet (580px)
@mixin small-tablet {
    @media (min-width: 580px) {
      @content;
    }
  }
  
  // Large Tablet (768px)
  @mixin large-tablet {
    @media (min-width: 768px) {
      @content;
    }
  }
  
  // Small laptop (1024px)
  @mixin small-laptop {
    @media (min-width: 1024px) {
      @content;
    }
  }
  
  // large laptop + desktop (1920px)
  @mixin desktop {
    @media (min-width: 1920px) {
      @content;
    }
  }
  
  // extra small devices e.g galaxy fold (320px)
  @mixin extra-small-devices {
    @media (max-width: 360px) {
      @content;
    }
  }
  
  // ? UI
  
  @mixin web-headings {
    font-family: $headings-font;
    font-size: 4rem;
    text-align: center;
    padding: 4rem 0 3rem 0;
    color: $main-font-colour;
  }
  
  @mixin web-paragraph-text {
    font-family: $main-text-font;
    font-size: $paragraph-font-size;
    color: $main-font-colour;
    line-height: 2.8rem;
    letter-spacing: 0.05rem;
  }